@charset "UTF-8";
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	height: 100%;
	color: white;
	text-align: center;
	margin-left:10px;
    margin-right:10px;
    background-image: url(../images/bmi_image.jpg);
   background-size: cover;
}
h1{
	padding-top: 10px;
	color: #ffd700;
}
h2 {
	padding: 10px;
  text-align:center;
  font-size: 3.5em;
  text-align: center;
}
.app_icon{
	width: 100px;
	height: 100px;
	border-radius:50% ;
}
/* カード */
.card {
	background-color: #F7F7F7;
	opacity: 0.95;
	margin: 30%;
	margin-top: 50px;
	padding: 20px 25px 30px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-smart {
	/*background-color: #cceeff;*/
	margin: 0 auto;
	padding: 5px 10px 15px;
}

.card-link-text {
	position: absolute;
	top: 5px;
	right: 5px;
}

table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
table th{
	-webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#ffd700;
    color:#FAFAFA;
  
}
table td{
	font-size: 2.0em;
	text-align: left;
    padding:7px 0 7px 30px;
    width: 50%;
}
/*ボタンデザイン*/

*:before{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
a.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background:#ffd700;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-70%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*登録ボタンデザイン*/
.incert_btn{
    width:170px;
    height:45px;
    line-height:45px;
    margin: auto;
    text-decoration: none;
    background:#000000;
    text-align:center;
    border-left:7px solid #141100;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    transition: all 1s ease;
}
.incert_btn:hover{
    background:#ffd700;
    color:#FFFFFF;
    margin-left:0px;
    margin-top:0px;
    border-left:1px solid #000;
    box-shadow:19px 2px 2px 0px #DEDEDE ;
}
